<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 ="section-heading">What if you told an adult...</h2>
                <h4>    
                    <i>If you care about my future, you would care about climate change and act to fight it.</i></br>
                    ...how would they react?</h4></br></br>
                
                Let’s change the minds of adults around us by starting the conversation and watching <a href="https://www.youtube.com/watch?v=nbmt_WeNBck" style="color:white; opacity:0.5">this YouTube video</a> for right-leaning adults or <a href="https://www.cnn.com/videos/weather/2019/09/03/climate-change-effects-global-warming-effects-chad-myers-nws-orig.cnn" style="color:white; opacity:0.5">that video</a> for left-leaning adults and discuss it with them. Together among the 42 million teens in the US, if we all talk to 3 adults each, we nearly reach the entire voter turnout in the 2016 US Presidential Election.<sup><a href="#footnote1">1</a></sup></br></br>

                Power in numbers and community. Together, we can get adults to gain empathy for our generation and the need to tackle climate change immediately. Spread your influence now. #ClimateInfluencer.</br></br>

                <h3>Spoken to a couple adults already?</h3>
                Your experience is valuable. Teach your friends and those around you how to have conversations with adults. Share your experience and your courage. We will send a box of Climate Influencer swag to hand out to your group. Apply now with the date, group size, and your initial materials at climatecrisis@cs.stanford.edu. We are looking forward to seeing you shine.</br>
                
                </br><p id="footnote1" style="font-size: 10px"><sup>1</sup><a href="https://www.hhs.gov/ash/oah/facts-and-stats/changing-face-of-americas-adolescents/index.html" style="color:white; opacity:0.5">The Changing Face of America's Adolescents</a>, HHS.gov</p>

                <h2 ="section-heading">ABOUT</h2>
                <hr class="light">
                <p class="text-faded">We are a program dedicated to tackling climate change. Our goal is to foster power in numbers among those who are most affected by climate change to inspire others through empathy and in-person conversation. One of the most effective ways of changing or enhancing opinion is through listening empathetically and engaging in discussion on the issue.</p>

                <h3 class="section-heading">Mission</h3>
                <hr class="light">
                <p class="text-faded">People often feel powerless when it comes to tackling climate change — especially us teens, who are affected most by it. This program’s mission is to try different ways we can influence decision-makers, adults who can vote or play a larger role in making climate related decisions. We want to gain an understanding of how people react to different messaging and communicate what works. Do people need facts presented, or be in the right emotional state? Do they need to believe they can help or that this will affect their children and grandchildren? How can they move from being informed to taking action? </p>

                <h3 class="section-heading">Rational</h3>
                <hr class="light">
                <p class="text-faded">Over the past 500 years, carbon dioxide has increased exponentially<sup><a href="#footnote2">2</a></sup>, with burning fossil fuels for heat and electricity as the leading contributor to climate change.<sup><a href="#footnote3">3</a></sup> Teens and young adults believe that climate change will significantly harm their generation — about 7 in 10 believe so, a higher proportion than adults over 30.<sup><a href="#footnote4">4</a></sup> </p></br></br>
                
                <p class="text-faded">According to a 2019 poll of 629 teens by the Washington Post,<sup><a href="#footnote5">5</a></sup> 1 in 7 teens have participated in a climate change school walkout, and teens rank climate change much higher than adults in a list of major important issues. A Nature article reports that a quarter of adults in a 2018 survey believed that the purpose of fighting for climate change is “to provide a better life for our children and grandchildren,” suggesting that adults will act in order to benefit their children’s futures and that youth activism as helped illuminate this. </p></br></br>
                
                <p class="text-faded">Based on these studies, we hope to inspire other teens and young adults to have conversations with the adults around them — parents, guardians, teachers, mentors — about climate change. Together among the 42 million teens in the US, if we all talk to 3 adults each, we nearly reach the entire voter turnout in the 2016 US Presidential Election.<sup><a href="#footnote6">6</a></sup> This is huge. We can make this huge.</p></br></br>

                </br><p id="footnote2" style="font-size: 10px"><sup>2</sup><a href="https://www.globalchange.gov/browse/reports/global-climate-change-impacts-united-states" style="color:white; opacity:0.5">U.S Global Change Research Program (2009) Global Climate Change Impacts in the United States.</a></p>
                </br><p id="footnote3" style="font-size: 10px"><sup>3</sup><a href="https://wg1.ipcc.ch/publications/wg1-ar4/faq/docs/AR4WG1_FAQ-Brochure_LoRes.pdf" style="color:white; opacity:0.5">IPCC, 2007: Climate Change 2007: The Physical Science Basis. Contribution of the Working Group I to the Fourth Assessment Report of the Intergovernmental Panel on Climate Change.</a></p>
                </br><p id="footnote4" style="font-size: 10px"><sup>4</sup><a href="https://www.washingtonpost.com/science/most-american-teens-are-frightened-by-climate-change-poll-finds-and-about-1-in-4-are-taking-action/2019/09/15/1936da1c-d639-11e9-9610-fb56c5522e1c_story.html" style="color:white; opacity:0.5">Washington Post</a>, Sept 16, 2019.</p>
                </br><p id="footnote5" style="font-size: 10px"><sup>5</sup><a href="https://www.washingtonpost.com/science/most-american-teens-are-frightened-by-climate-change-poll-finds-and-about-1-in-4-are-taking-action/2019/09/15/1936da1c-d639-11e9-9610-fb56c5522e1c_story.html" style="color:white; opacity:0.5">Washington Post</a>, Sept 16, 2019.</p>                
                </br><p id="footnote6" style="font-size: 10px"><sup>6</sup><a href="https://www.hhs.gov/ash/oah/facts-and-stats/changing-face-of-americas-adolescents/index.html" style="color:white; opacity:0.5">The Changing Face of America's Adolescents</a>, HHS.gov</p>


</div>
        </div>
    </div>

</section>
