<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Advisors</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="service-box">
                    <a href="https://www.greenpeace.org/usa/">
                        <img src="../img/logo/greenpeace.png", alt-"Greenpeace" width="300">
                    </a>
                    <!-- <h3>Greenpeace<h3> -->
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="service-box">
                    <a href="https://rebellion.earth/">
                        <img src="../img/logo/extinction_rebellion.png", alt-"Extinction Rebellion", width="300">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
