<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1> {{ site.program.name }} </h1>
            <hr>
            <p> 
                {{ site.program.description }}        
            </p>
            It’s time for you to have an important message to say, and become a #ClimateInfluencer.
            <form action="https://formspree.io/xjvkpnov" method="POST">
                <input type="text" name="fullname" placeholder="Full Name">
                <input type="email" name="email" placeholder="Email"></br>
                <button type="submit">Sign up to be an Influencer</button>
                <input type="checkbox" name="age"> I certify I am over 13 and want to be an influencer
                <input type=”hidden” name=”_next” value=”/" />
            </form>
        </div>
    </div>
</header>
