<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1> {{ site.program.name }} </h1>
            <hr>
            <p> 
                {{ site.program.description }}        
            </p>
            <form action="https://formspree.io/xjvkpnov" method="POST" style="color:rgba(255,255,255,0.7); font-size:17px; ">
                <input type="text" name="fullname" placeholder="Full Name">
                <input type="email" name="email" placeholder="Email">
                <input type="submit" style="background-color:darkred; font-size:17px; height: 40px" value="Sign up to be an Influencer"></br>
                <input type="checkbox" name="age"><span style="font-size: 14px; "> I certify I am over 13 and want to be an influencer
                <input type=”hidden” name=”_next” value=”/" style="display:none;" />
            </form>
        </div>
    </div>
</header>
