<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1> {{ site.program.stats }} </h1>
            <hr>
            <p> 
                {{ site.program.description }}        
            </p>
            <form id="application" action="https://formspree.io/xjvkpnov" method="POST" style="color:rgba(255,255,255,0.7); ">
            <!-- <form id="application" style="color:rgba(255,255,255,0.7); ">--> 
                <div class="row" style="font-size:17px">
                    <div class="form-group col-sm-3 col-sm-offset-2">
                        <div class="input-group text-left">
                           <div class="input-group-addon">
                              <i class="fa fa-user"></i>
                           </div>
                           <input type="text" name="fullname" placeholder="Enter your full name" style="color:black">
                        </div>
                    </div>

                   <div class="form-group col-sm-3 col-sm-offset-1">
                        <div class="input-group text-left">
                            <div class="input-group-addon">
                              <i class="fa fa-envelope"></i>
                            </div>
                        <input class="col-11" type="email" name="email" placeholder="Enter email" style="color:black">
                        </div>
                    </div>
                </div>

                <div class="row disclaim">
                            <input type="checkbox" name="age" id="ageChecked">
                            <span class="asteriskField" style="color:red">*</span>
                               I certify I am over 13 and want to be an influencer
                    <input type=”hidden” name=”_next” value=”/" style="display:none;" />
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-primary btn-lg"> Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</header>

<script type="text/javascript">
$(document).ready(function () {
        $("#application").submit(function(e) {
            if (document.getElementById("ageChecked").checked) {   
                $("#application").submit();
            }
            else {
                e.preventDefault();
                alert('You must be 13 plus to sign up!');
            }
        });
});
</script>
